<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group mb-3">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Server name">
      <mat-error *ngIf="name && name.touched && name.errors">
        {{ getErrorMessage('name') }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group mt-3 mb-3">
    <mat-form-field appearance="outline">
      <mat-label>IP Address</mat-label>
      <input matInput formControlName="ipAddress" placeholder="Server ip address">
      <mat-error *ngIf="ipAddress && ipAddress.touched && ipAddress.errors">
        {{ getErrorMessage('ipAddress') }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group mt-3 mb-3">
    <mat-form-field appearance="outline">
      <mat-label>Server type</mat-label>
      <input matInput formControlName="type" placeholder="Server type">
      <mat-error *ngIf="type && type.touched && type.errors">
        {{ getErrorMessage('type') }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group mt-3 mb-3">
    <mat-form-field appearance="outline">
      <mat-label>Server RAM size</mat-label>
      <input matInput formControlName="memory" placeholder="Server RAM">
      <mat-error *ngIf="memory && memory.touched && memory.errors">
        {{ getErrorMessage('memory') }}
      </mat-error>
    </mat-form-field>
  </div>

  <input matInput hidden="true" formControlName="status" class="form-control" />

  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button
    class="btn btn-primary ms-2"
    type="submit"
    [disabled]="form.invalid"
  >Save</button>
</form>
