<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group mb-3">
    <input formControlName="id" type="hidden" />
      <label for="name">Name</label>
      <input formControlName="name" class="form-control" />
      <div *ngIf="name && name.touched && name.errors">
        <mat-error *ngIf="name.errors['required']">
          Name is required
        </mat-error>
        <mat-error *ngIf="name?.errors!['minlength']">
            Username minimum length is
            {{ name.errors["minlength"].requiredLength }}
        </mat-error>
      </div>
  </div>

  <div class="form-group mt-3 mb-3">
      <label for="ipAddress">IP Address</label>
      <input formControlName="ipAddress" class="form-control" />
      <div *ngIf="ipAddress && ipAddress.touched && ipAddress.errors">
        <mat-error *ngIf="ipAddress.errors['required']">
          IP Address is required
        </mat-error>
        <mat-error *ngIf="ipAddress.errors['minlength']">
            IP Address minimum length is
            {{ ipAddress.errors["minlength"].requiredLength }}
        </mat-error>
      </div>
  </div>

  <div class="form-group mt-3 mb-3">
      <label for="type">Server type</label>
      <input formControlName="type" class="form-control" />
      <div *ngIf="type && type.touched && type.errors">
        <mat-error *ngIf="type.errors['required']">
          Server type is required
        </mat-error>
        <mat-error *ngIf="type.errors['minlength']">
            Server type minimum length is
            {{ type.errors["minlength"].requiredLength }}
        </mat-error>
      </div>
  </div>

  <div class="form-group mt-3 mb-3">
      <label for="memory">Server RAM size</label>
      <input formControlName="memory" class="form-control" />
      <div *ngIf="memory && memory.touched && memory.errors">
        <mat-error *ngIf="memory.errors['required']">
          Server RAM size is required
        </mat-error>
        <mat-error *ngIf="memory.errors['minlength']">
            Server RAM minimum length is
            {{ memory.errors["minlength"].requiredLength }}
        </mat-error>
      </div>
  </div>

  <input hidden="true" formControlName="status" class="form-control" />

  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button
    class="btn btn-primary ms-2"
    type="submit"
    [disabled]="form.invalid"
  >Save</button>
</form>
